<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @customer.email_address %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.birthday %>
</p>

<p>
  <strong>Referal:</strong>
  <%= @customer.referal %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @customer.occupation %>
</p>

<p>
  <strong>Daily habit:</strong>
  <%= @customer.daily_habit %>
</p>

<p>
  <strong>Last:</strong>
  <%= @customer.last %>
</p>

<p>
  <strong>Massage:</strong>
  <%= @customer.massage %>
</p>

<p>
  <strong>Male:</strong>
  <%= @customer.male %>
</p>

<p>
  <strong>Pregnant:</strong>
  <%= @customer.pregnant %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @customer.exercise %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @customer.allergies %>
</p>

<p>
  <strong>Allergies string:</strong>
  <%= @customer.allergies_string %>
</p>

<p>
  <strong>Current stiffness:</strong>
  <%= @customer.current_stiffness %>
</p>

<p>
  <strong>Current stiffness string:</strong>
  <%= @customer.current_stiffness_string %>
</p>

<p>
  <strong>Spinal:</strong>
  <%= @customer.spinal %>
</p>

<p>
  <strong>Spinal string:</strong>
  <%= @customer.spinal_string %>
</p>

<p>
  <strong>Medical supervision:</strong>
  <%= @customer.medical_supervision %>
</p>

<p>
  <strong>Medical supervision string:</strong>
  <%= @customer.medical_supervision_string %>
</p>

<p>
  <strong>Blood pressure:</strong>
  <%= @customer.blood_pressure %>
</p>

<p>
  <strong>Blood pressure string:</strong>
  <%= @customer.blood_pressure_string %>
</p>

<p>
  <strong>Artificial:</strong>
  <%= @customer.artificial %>
</p>

<p>
  <strong>Artificial string:</strong>
  <%= @customer.artificial_string %>
</p>

<p>
  <strong>Contagious skin:</strong>
  <%= @customer.contagious_skin %>
</p>

<p>
  <strong>Open sores:</strong>
  <%= @customer.open_sores %>
</p>

<p>
  <strong>Easy bruised:</strong>
  <%= @customer.easy_bruised %>
</p>

<p>
  <strong>Current sprains:</strong>
  <%= @customer.current_sprains %>
</p>

<p>
  <strong>Current fever:</strong>
  <%= @customer.current_fever %>
</p>

<p>
  <strong>Blood clots:</strong>
  <%= @customer.blood_clots %>
</p>

<p>
  <strong>Itus:</strong>
  <%= @customer.itus %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @customer.diabetes %>
</p>

<p>
  <strong>Cancer:</strong>
  <%= @customer.cancer %>
</p>

<p>
  <strong>Fibromyalgia:</strong>
  <%= @customer.fibromyalgia %>
</p>

<p>
  <strong>Epilepsy:</strong>
  <%= @customer.epilepsy %>
</p>

<p>
  <strong>Tmj:</strong>
  <%= @customer.tmj %>
</p>

<p>
  <strong>Headaches:</strong>
  <%= @customer.headaches %>
</p>

<p>
  <strong>Carpal tunnel:</strong>
  <%= @customer.carpal_tunnel %>
</p>

<p>
  <strong>Elbow:</strong>
  <%= @customer.elbow %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
